<h1>Stupid Coaching</h1>

<div class="rectangle">

  <div class="question">
    <p><%= @question %></p>
    <p><i>- You</i></p>
  </div>
</div>

<div class="rectangle">
  <div class="answer">
  <p><%= @answer %></p>
  <p><b><i>- Your coach</i></b></p>
</div>


</div>
  <div class="link">
  <%= link_to "Ask a new question", ask_path %>
  </div>
